@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
  background-color: #181919;
  font-family: 'Montserrat', sans-serif;
}

#main-title {
  font-size: 100px;
  text-align: center;
}

#main-title > strong {
  color: lightgrey
}

#names {
  margin-top: 0px;
  text-align: center;
}

.navbar-default {
  border-color: #181919;
}

.navbar {
  background-color: #2e2d2c;
}

.tab-pane {
  padding: 0;
}

.tab-pane {
  color: #7d858f;
}

.well {
  background-color: lightgrey;
  color: #3e4146;
  min-height: 350px;
  margin-top: 40px
}

.well > h1 {
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
}

#main-descrip {
  text-align: center;
}

.controls {
  position: absolute;
  top: 80px;
  left: 15px;
  z-index: 1;
  width: 275px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.controls::after {
  content: "";
  background-color: black;
  box-shadow: black 0 0 50px 13px;
  opacity: 0.25;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.control-label, h4 {
  color: lightgrey;
  margin-top: 15px;
}

.container-fluid, .tab-pane, .tab-content{
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}

#tab-9695-4 {
  margin-bottom: 10%;
}

#tab-8009-1 {
  margin-bottom: 25px;
  padding-bottom: 25px;
  padding-right: 25px;
  padding-left: 25px;
}

#js-plotly-tester {
  margin: auto;
}
